<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>List of customers</title>
    <th:block th:replace="/layout/head" />
</head>

<body>
    <div class="container-fluid">
        <th:block th:replace="/customer/header" />

        <div class="content">
            <table id="tblCustomer" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Province</th>
                    <th scope="col">District</th>
                    <th scope="col">Ward</th>
                    <th scope="col">Address</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal create -->
    <th:block th:replace="/customer/modalCreate" />

    <!-- Modal update -->
    <th:block th:replace="/customer/modalUpdate" />

    <script src="/assets/jquery/jquery-3.7.0.min.js"></script>
    <script src="/assets/jquery/jquery.validate.min.js"></script>
    <script src="/assets/bootstrap/v-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/sweetalert2/sweetalert2.all.min.js"></script>

    <script src="/assets/js/appBase.js"></script>

    <script>
        const page = {
            url: {
                getAllCustomers: AppBase.API_CUSTOMER,
                doCreate: AppBase.API_CUSTOMER,
                getAllProvinces: AppBase.API_LOCATION_REGION + '/',
                getAllDistricts: AppBase.API_LOCATION_REGION + '/district',
                getAllWards: AppBase.API_LOCATION_REGION + '/ward'
            },
            elements: {},
            loadData: {},
            commands: {},
            dialogs: {
                elements: {},
                commands: {},
            }
        }


        page.elements.tblCustomerBody = $('#tblCustomer tbody')

        page.dialogs.elements.modalCreate = $('#modalCreate')
        page.dialogs.elements.frmCreateCustomer = $('#frmCreateCustomer')
        page.dialogs.elements.errorCreateArea = $('#modalCreate .error-area')
        page.dialogs.elements.fullNameCre = $('#fullNameCre')
        page.dialogs.elements.emailCre = $('#emailCre')
        page.dialogs.elements.phoneCre = $('#phoneCre')
        page.dialogs.elements.provinceCre = $('#provinceCre')
        page.dialogs.elements.districtCre = $('#districtCre')
        page.dialogs.elements.wardCre = $('#wardCre')
        page.dialogs.elements.addressCre = $('#addressCre')
        page.dialogs.elements.btnCreate = $('#btnCreate')

        page.dialogs.elements.modalUpdate = $('#modalUpdate')
        page.dialogs.elements.errorUpdateArea = $('#modalUpdate .error-area')
        page.dialogs.elements.fullNameUp = $('#fullNameUp')
        page.dialogs.elements.emailUp = $('#emailUp')
        page.dialogs.elements.phoneUp = $('#phoneUp')
        page.dialogs.elements.addressUp = $('#addressUp')
        page.dialogs.elements.btnUpdate = $('#btnUpdate')


        let customerId = 0;

        page.commands.renderCustomer = (customer, locationRegion) => {
            return `
                <tr id="tr_${customer.id}">
                    <th scope="row">${customer.id}</th>
                    <td>${customer.fullName}</td>
                    <td>${customer.email}</td>
                    <td>${customer.phone}</td>
                    <td>${customer.balance}</td>
                    <td>${locationRegion.provinceName}</td>
                    <td>${locationRegion.districtName}</td>
                    <td>${locationRegion.wardName}</td>
                    <td>${locationRegion.address}</td>
                </tr>
            `
        }

        page.commands.getAllCustomers = () => {
            $.ajax({
                type: 'GET',
                url: page.url.getAllCustomers
            })
                .done((data) => {
                    $.each(data, (index, item) => {
                        const locationRegion = item.locationRegion
                        const str = page.commands.renderCustomer(item, locationRegion)
                        page.elements.tblCustomerBody.prepend(str)
                    })

                    page.commands.handleAddEventShowModalUpdate();
                    page.commands.handleAddEventConfirmDelete();
                })
                .fail((error) => {
                    console.log(error);
                })
        }

        page.commands.getAllProvinces = () => {
            return $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'GET',
                url: page.url.getAllProvinces
            })
                .done((res) => {
                    const data = res.results

                    $.each(data, (index, item) => {
                        const str = page.commands.renderProvinceCre(item)
                        page.dialogs.elements.provinceCre.append(str)
                    })
                })
                .fail((jqXHR) => {

                })
        }

        page.commands.renderProvinceCre = (obj) => {
            return `<option value="${obj.province_id}">${obj.province_name}</option>`;
        }

        page.commands.getAllDistricts = (provinceId) => {
            return $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'GET',
                url: page.url.getAllDistricts + '/' + provinceId
            })
                .done((res) => {
                    page.dialogs.elements.districtCre.empty();

                    const data = res.results

                    $.each(data, (index, item) => {
                        const str = page.commands.renderDistrictCre(item)
                        page.dialogs.elements.districtCre.append(str)
                    })
                })
                .fail((jqXHR) => {

                })
        }

        page.commands.renderDistrictCre = (obj) => {
            return `<option value="${obj.district_id}">${obj.district_name}</option>`;
        }

        page.commands.getAllWards = (districtId) => {
            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'GET',
                url: page.url.getAllWards + '/' + districtId
            })
                .done((res) => {
                    page.dialogs.elements.wardCre.empty();

                    const data = res.results

                    $.each(data, (index, item) => {
                        const str = page.commands.renderWardCre(item)
                        page.dialogs.elements.wardCre.append(str)
                    })
                })
                .fail((jqXHR) => {

                })
        }

        page.commands.renderWardCre = (obj) => {
            return `<option value="${obj.ward_id}">${obj.ward_name}</option>`;
        }

        page.dialogs.commands.handleCreate = () => {
            const fullName = page.dialogs.elements.fullNameCre.val()
            const email = page.dialogs.elements.emailCre.val()
            const phone = page.dialogs.elements.phoneCre.val()
            const provinceId = page.dialogs.elements.provinceCre.val()
            const provinceName = page.dialogs.elements.provinceCre.find('option:selected').text()
            const districtId = page.dialogs.elements.districtCre.val()
            const districtName = page.dialogs.elements.districtCre.find('option:selected').text()
            const wardId = page.dialogs.elements.wardCre.val()
            const wardName = page.dialogs.elements.wardCre.find('option:selected').text()
            const address = page.dialogs.elements.addressCre.val()

            const locationRegion = {
                provinceId,
                provinceName,
                districtId,
                districtName,
                wardId,
                wardName,
                address
            }

            const obj = {
                fullName,
                email,
                phone,
                locationRegion
            }

            page.commands.doCreate(obj);
        }

        page.commands.doCreate = (obj) => {
            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'POST',
                url: page.url.doCreate,
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    const locationRegion = data.locationRegion
                    const str = page.commands.renderCustomer(data, locationRegion)
                    page.elements.tblCustomerBody.prepend(str)

                    page.dialogs.elements.modalCreate.modal('hide')
                })
                .fail((jqXHR) => {
                    const responseJSON = jqXHR.responseJSON

                    let str = ''
                    $.each(responseJSON, (k, v) => {
                        const index = page.commands.findIndexDotInString(k)
                        if (index !== -1) {
                            const subKey = k.substring(index + 1, k.length)
                            str += `<label for="${subKey}Cre">${v}</label>`
                            $('#' + subKey + 'Cre').css('border-color', '#be0f0f')
                        }
                        else {
                            str += `<label for="${k}Cre">${v}</label>`
                        }
                    })

                    page.dialogs.elements.errorCreateArea.css('display', '')
                    page.dialogs.elements.errorCreateArea.empty().removeClass('hide').addClass('show').append(str);
                })
        }

        page.commands.findIndexDotInString = (str) => {
            let index = -1;
            for (let i = 0; i < str.length; i++) {
                if (str.charAt(i) === '.') {
                    index = i
                }
            }

            return index
        }

        page.commands.handleAddEventShowModalUpdate = () => {
            $('.edit').on('click', function () {
                customerId = $(this).data('id')

                findByCustomerId(customerId).then((data) => {
                    assignModalUpdate(data)
                    $('#modalUpdate').modal('show')
                })
                    .catch((error) => {
                        console.log(error);
                    })
            })
        }

        page.commands.handleAddEventConfirmDelete = () => {
            $('.delete').on('click', function () {
                customerId = $(this).data('id')

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        doDelete(customerId).then(() => {
                            $('#tr_' + customerId).remove()

                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'The customer has been deleted.',
                                showConfirmButton: false,
                                timer: 2500
                            })
                        })
                            .catch((error) => {
                                console.log(error);
                            })
                    }
                })
            })
        }

        const doDelete = (id) => {
            const obj = {
                deleted: true
            }

            return $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'PATCH',
                url: 'http://localhost:3300/customers/' + id,
                data: JSON.stringify(obj)
            })
        }

        const assignModalUpdate = (data) => {
            $('#fullNameUp').val(data.fullName)
            $('#emailUp').val(data.email)
            $('#phoneUp').val(data.phone)
            $('#addressUp').val(data.address)
        }

        const findByCustomerId = (id) => {
            return $.ajax({
                url: 'http://localhost:9000/api/customers/' + id
            })
        }

        page.dialogs.commands.handleUpdate = () => {
            let fullName = page.dialogs.elements.fullNameUp.val()
            let email = page.dialogs.elements.emailUp.val()
            let phone = page.dialogs.elements.phoneUp.val()
            let address = page.dialogs.elements.addressUp.val()

            const obj = {
                fullName,
                email,
                phone,
                address
            }

            page.dialogs.commands.doUpdate(obj)
        }

        page.dialogs.commands.doUpdate = (obj) => {
            $.ajax({
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json'
                },
                type: 'PATCH',
                url: 'http://localhost:9000/api/customers/' + customerId,
                data: JSON.stringify(obj)
            })
                .done((data) => {
                    const str = page.commands.renderCustomer(data)
                    $('#tr_' + customerId).replaceWith(str)
                    $('#modalUpdate').modal('hide')
                })
                .fail((jqXHR) => {
                    const responseJSON = jqXHR.responseJSON

                    let str = '<ul>'
                    $.each(responseJSON, (k, v) => {
                        str += `<li>${v}</li>`
                    })

                    str += '</ul>'


                    $('.error-area').empty().append(str);
                })
        }

        page.dialogs.commands.closeModalCreate = () => {
            page.dialogs.elements.errorCreateArea.empty().removeClass('show').addClass('hide')
            page.dialogs.elements.frmCreateCustomer.find("input.error").removeClass("error");
            page.dialogs.elements.frmCreateCustomer[0].reset();
            page.dialogs.elements.frmCreateCustomer.validate().resetForm();
        }


        page.dialogs.elements.frmCreateCustomer.validate({
            rules: {
                fullNameCre: {
                    required: true
                },
                emailCre: {
                    required: true
                }
            },
            messages: {
                fullNameCre: {
                    required: 'Họ tên là bắt buộc'
                },
                emailCre: {
                    required: 'Email là bắt buộc'
                }
            },
            errorLabelContainer: "#modalCreate .error-area",
            errorPlacement: function (error, element) {
                error.appendTo("#modalCreate .error-area");
            },
            showErrors: function(errorMap, errorList) {
                if (this.numberOfInvalids() > 0) {
                    $("#modalCreate .error-area").removeClass("hide").addClass("show");
                } else {
                    $("#modalCreate .error-area").removeClass("show").addClass("hide").empty();
                    $("#frmCreateCustomer input.error").removeClass("error");
                }
                this.defaultShowErrors();
            },
            submitHandler: () => {
                page.dialogs.commands.handleCreate();
            }
        })


        page.initializeControlEvent = () => {
            page.dialogs.elements.btnCreate.on('click', () => {
                page.dialogs.elements.frmCreateCustomer.trigger('submit')
            })

            page.dialogs.elements.btnUpdate.on('click', () => {
                page.dialogs.commands.handleUpdate();
            })

            page.dialogs.elements.modalCreate.on('hidden.bs.modal', () => {
                page.dialogs.commands.closeModalCreate()
            })

            page.dialogs.elements.provinceCre.on('change', function () {
                const provinceId = $(this).val()
                page.commands.getAllDistricts(provinceId).then(() => {
                    const districtId = page.dialogs.elements.districtCre.val()
                    page.commands.getAllWards(districtId)
                });
            })

            page.dialogs.elements.districtCre.on('change', function () {
                const districtId = $(this).val()
                page.commands.getAllWards(districtId)
            })
        }


        page.loadData = () => {
            page.commands.getAllCustomers();

            page.commands.getAllProvinces().then(() => {
                const provinceId = page.dialogs.elements.provinceCre.val()
                page.commands.getAllDistricts(provinceId).then(() => {
                    const districtId = page.dialogs.elements.districtCre.val()
                    page.commands.getAllWards(districtId)
                });
            });
        }

        $(() => {
            page.loadData();

            page.initializeControlEvent();
        })

    </script>

</body>

</html>