.bg-body-navbar {
    background-color: #1d91e7;
}

h1.navbar-brand {
    font-size: 2.5rem;
    color: #fff;
}

#tblCustomer thead tr th {
    background-color: #459d4e;
    color: #fff;
}


.error-area {
    color: red;
}